<div class="row">
  <aside class="col-md-4">
    {{user-profile model=model gravatarUsers=gravatarUsers}}
    {{#if (eq session.data.authenticated.id model.user.id)}}
      <section class="micropost_form">
        <form class="form-basic" role="form" {{action (route-action 'createMicropost' model.micropost) on='submit'}}>
          <div class="field">
            {{textarea cols="80" value=model.micropost.content rows="4" placeholder="Compose new micropost..."}}
          </div>

          <input type="submit" class="btn btn-primary">
        </form>
      </section>
    {{/if}}
  </aside>
  <div class="col-md-8">
    {{follow-user
      model=model.user
      isFollower=isFollower
      followUser="followUser"
      unfollowUser="unfollowUser"
    }}
    {{microposts-index
      title="Micropost Feed"
      model=model.microposts
    }}
  </div>
</div>
