<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <a id="logo" href="/">sample app</a>
    <nav>
      <ul class="nav navbar-nav pull-right">
        <li>{{link-to 'Home' 'application'}}</li>
        <li>{{link-to 'Help' 'help'}}</li>
          <li>{{link-to 'Users' 'users.index'}}</li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/users/101">Profile</a></li>
              <li><a href="/users/101/edit">Settings</a></li>
              <li class="divider"></li>
              <li>
                <a rel="nofollow" data-method="delete" href="/logout">Log out</a>
              </li>
            </ul>
          </li>
      </ul>
    </nav>
  </div>
</header>
{{ember-notify messageStyle='bootstrap'}}
<div class="container">
  {{outlet}}

  <footer class="footer">
    <small>
      The <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
      by <a href="http://www.michaelhartl.com/">Michael Hartl</a>
    </small>
    <nav>
      <ul>
        <li>{{link-to 'About' 'about'}}</li>
        <li>{{link-to 'Contact' 'contact'}}</li>
        <li><a href="http://news.railstutorial.org/">News</a></li>
      </ul>
    </nav>
  </footer>
</div>
